
@{
    ViewData["Title"] = "JSManageAccount";
    Layout = "_Layout";
}


<div id="content">
    <div class="container col-12">
        <div class="row" style="display:flex; flex-direction:row;gap:30px; justify-content:center;">
         <partial name="_JobSeekerSideBar"></partial>
            <div class="col-lg-9 col-md-12 col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

