@model Job_Portal_Project.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section id="content" class="section-padding">
    <!-- Content section Start --><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-xs-12">
                <div class="page-login-form box">
                    <h3>
                        Create Your account
                    </h3>
                    <form class="login-form" asp-action="Register" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger" style="display:none;"></div>
                        <input type="hidden" asp-for="Role" />
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="FirstName">First name</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="LastName">Last name</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="UserName">Username</label>
                                <input asp-for="UserName" type="text" class="form-control">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="Email">Email</label>
                                    <input asp-for="Email" type="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="Country">Country</label>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="City">City</label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="ProfilePictureFile">Image</label>
                                <input asp-for="ProfilePictureFile" type="file" class="form-control" value="@Model.ProfilePictureFile"/>
                                <input type="hidden" asp-for="ProfilePicturePath" value="@Model?.ProfilePicturePath" />
                                @* @if (!string.IsNullOrEmpty(Model.ProfilePicturePath)) *@
                                @* { *@
                                @*     <div class="mb-2 mt-3"> *@
                                @*         <img src="/images/@Model.ProfilePicturePath" *@
                                @*              alt="Current Image" *@
                                @*              style="height: 120px; width: 120px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" /> *@
                                @*     </div> *@
                                @* }else{ *@

                                @* } *@
                            <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="Password" style="width:125px">Password</label>
                                <input asp-for="Password" type="password" class="form-control" style="padding-left:127px">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <label asp-for="ConfirmPassword" class="control-label" style="width:125px">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" style="padding-left:127px">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-common log-btn mt-3" value="Create">Register</button>
                        <style>
                            .log-btn:hover {
                                color: #00BCD4 !important
                            }
                        </style>
                        <p class="text-center">Already have an account?<a asp-action="Login" asp-controller="Account"> Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
