
@{
    ViewData["Title"] = "About";
}
<!-- Page Header Start -->
<div class="category-hero-section" style="background-image: url('/assets/images/Dcover.jpg'); background-size: cover; padding: 100px 0; position: relative; z-index: 1; text-align: center; color: #fff; overflow: hidden;">
    <div class="overlay-bg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(22, 28, 45, 0.8); z-index: -1;"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title" style="font-size: 3rem; font-weight: 700; margin-bottom: 15px; color: #fff; text-shadow: 0px 2px 8px rgba(0,0,0,0.2); position: relative; display: inline-block;">
                         About 
                        <div class="title-accent" style="position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); width: 100px; height: 4px; background-color: #00BCD4; border-radius: 2px;"></div>
                    </h1>
                    <p style="font-size: 1.2rem; max-width: 800px; margin: 25px auto 0; color: #fff; line-height: 1.7; text-shadow: 0px 1px 2px rgba(0,0,0,0.2);">
                        Dedicated to bridging the gap between exceptional talent and forward-thinking companies. <br />
                        Our platform simplifies recruitment while empowering career growth.
                    </p>
                </div>
                <ul class="breadcrumb-nav" style="display: flex; justify-content: center; list-style: none; margin-top: 30px; padding: 0; flex-wrap: wrap;">
                    <li style="margin: 5px;"><a href="/Home/Index" style="color: #fff; text-decoration: none; font-weight: 500; transition: all 0.3s ease;">Home</a></li>
                    <li style="margin: 5px; position: relative; padding-left: 20px;">
                        @* <i class="lni lni-chevron-right" style="position: absolute; left: 0; top: 50%; transform: translateY(-50%); color: #00BCD4; font-size: 12px;"></i> *@
                        <span style="color: #00BCD4; font-weight: 600;">About</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Main container End -->
<div style="display:flex; justify-content:center; padding:50px;" >
<div class="row g-5 align-items-center col-11 fadeInDown">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0 about-bg rounded overflow-hidden">
            <div class="col-6 text-start">
                <img class="img-fluid w-100" src="/assets/img/about/about-1.jpg">
            </div>
            <div class="col-6 text-start">
                <img class="img-fluid" src="/assets/img/about/about-2.jpg" style="width: 85%; margin-top: 15%;">
            </div>
            <div class="col-6 text-end">
                <img class="img-fluid" src="/assets/img/about/about-3.jpg" style="width: 85%;">
            </div>
            <div class="col-6 text-end">
                <img class="img-fluid w-100" src="/assets/img/about/about-4.jpg">
            </div>
        </div>
    </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <h1 class="mb-4" style="color: #00838f;">Your Career Success Starts Here</h1>
            <p class="mb-4" style="color: #006064;">
                Join thousands who found their perfect job match through our intelligent platform.
            </p>
            <p style="color: #006064;"><i class="fa fa-check me-3" style="color: #00BCD4;"></i>Personalized job recommendations</p>
            <p style="color: #006064;"><i class="fa fa-check me-3" style="color: #00BCD4;"></i>One-click application process</p>
            <p style="color: #006064;"><i class="fa fa-check me-3" style="color: #00BCD4;"></i>Career growth resources</p>
            <a class="btn py-3 px-5 mt-3" href="/account/preregister" style="background-color: #00BCD4; color: white;">
                Get Started Now
            </a>
        </div>
</div>
</div>

<!-- How It Work Section Start -->
<section class="how-it-works section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">How It Works?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process">
                    <span class="process-icon">
                        <i class="lni-user"></i>
                    </span>
                    <h4>Create an Account</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process step-2">
                    <span class="process-icon">
                        <i class="lni-search"></i>
                    </span>
                    <h4>Search Jobs</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process step-3">
                    <span class="process-icon">
                        <i class="lni-cup"></i>
                    </span>
                    <h4>Apply</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How It Work Section End -->


            <style>

    .about-bg {
        background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
        background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
        background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
        background-size: 5px 5px;
    }
            </style>

