@{
    ViewData["Title"] = "Home";
}

<!-- Hero Area Start -->
<div class="hero-area">
    <div class="container">
        <div class="row space-100 justify-content-center">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div class="contents">
                    <h2 class="head-title">Find the job that fits your life</h2>
                    <p>Browse thousands of job listings from top companies around the world. Find your perfect job today.</p>
                    <div class="job-search-form">
                        <form asp-controller="JobSearch" asp-action="Index" method="get">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="Keyword" placeholder="Job Title or Keywords">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="Location" placeholder="Location">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    <button type="submit" class="button"><i class="lni-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->

<!-- Browse jobs Section Start -->
<div id="browse-jobs" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text-wrapper">
                    <div>
                        <h3>7,000+ Browse Jobs</h3>
                        <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide. The right job is out there.</p>
                        <a class="btn btn-common" href="/JobSearch/Index">Search jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="img-thumb">
                    <img class="img-fluid" src="assets/img/search.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Browse jobs Section End -->

<!-- Category Section Start -->
<section class="categories-section">
    <div class="container">
        <div class="section-header">
            <h2>Job Categories</h2>
            <p>Browse jobs by category</p>
        </div>
        <partial name="_CategoriesPartial" model="Model.Categories" />
    </div>
</section>
<!-- Category Section End -->


<!-- Latest Section Start -->
<section id="latest-jobs" class="section bg-gray">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Latest Jobs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">UX Designer</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">UI Designer</a></h3>
                        <p class="brand">Hunter Inc.</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-3.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Web Developer</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-4.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">UX Designer</a></h3>
                        <p class="brand">AmazeSoft</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Digital Marketer</a></h3>
                        <p class="brand">Bingo</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Web Developer</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>
            </div>
        </div>
    </div>
</section>
<!-- Latest Section End -->

