@{
    ViewData["Title"] = "Home";
}

<!-- المنطقة الرئيسية -->
<div class="hero-area">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">

          <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>




        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/bg/1637270646-shutterstock-1470208685.jpg" class="d-block w-100 hero-img" alt="Slide 1" loading="eager">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/bg/1_opn1wt7cJxF3a4KnqHItVw.jpg" class="d-block w-100 hero-img" alt="Slide 2" loading="eager">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/bg/shutterstock_412257712-2.webp" class="d-block w-100 hero-img" alt="Slide 3" loading="eager">
            </div>
        </div>
    </div>

    

    <!-- المحتوى فوق الصورة -->
    <div class="container position-relative text-white z-2">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div class="contents text-center">
                    <h2 class="head-title">Find the job that fits your life</h2>
                    <p>Browse thousands of job listings from top companies around the world. Find your perfect job today.</p>

                    <div class="job-search-form">
                        <form asp-controller="JobSearch" asp-action="Index" method="get">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    <input class="form-control" type="text" name="Keyword" placeholder="Job Title or Keywords">
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    <input class="form-control" type="text" name="Location" placeholder="Location">
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    <button type="submit" class="button"><i class="lni-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






















<!-- Hero Area End -->

<!-- Browse jobs Section Start -->
<div id="browse-jobs" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text-wrapper">
                    <div>
                        <h3>7,000+ Browse Jobs</h3>
                        <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide. The right job is out there.</p>
                        <a class="btn btn-common" href="/JobSearch/Index">Search jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="img-thumb">
                    <img class="img-fluid" src="/assets/img/search.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Browse jobs Section End -->

<!-- Category Section Start -->
<section >
    <div >
       <partial name="_CategoryPartial" model="Model.Categories" />
    </div>
</section>


<!-- Category Section End -->


<!-- Latest Section Start -->
<section id="latest-jobs" class="section bg-gray">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Latest Jobs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">UX Designer</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">UI Designer</a></h3>
                        <p class="brand">Hunter Inc.</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-3.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Web Developer</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-4.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">UX Designer</a></h3>
                        <p class="brand">AmazeSoft</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Digital Marketer</a></h3>
                        <p class="brand">Bingo</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="jobs-latest">
                    <div class="img-thumb">
                        <img src="assets/img/features/img-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3><a href="job-details.html">Web Developer</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags">
                            <span><i class="lni-map-marker"></i> New York</span>
                            <span><i class="lni-user"></i>  John Smith</span>
                        </div>
                        <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>
            </div>
        </div>
    </div>
</section>
<!-- Latest Section End -->

<!--Testimonal-->
<partial name="_CleintsReview"></partial>